body, input[text], button {
  color: #888;
  font-family: "varela round", sans-serif;;
}

h3 {
    margin-bottom: 1em;
}

.errors {
    display: block;
    padding: 1em 2em;
    background: #fee;
    color: red;
}

nav.navbar {
    border-radius: 0px;
}

.img-thumbnail {
	max-width: 100px;
}